@import '../../index.less';

.modalBox {

	:global {

		.ant-modal {
			width: 731 / @baseMix!important;
		}

		.ant-modal-content {
			width: 731 / @baseMix;
			background: none;
		}

		.ant-modal-body {
			.px2rem(height, 950);
			.padding2rem(24, 24, 0, 24);
		}
	}

	.title {
		.px2rem(height, 100);
	    width: 100%;
	    text-align: center;
	    .px2rem(font-size, 36);
	    color: #fff;
	    .px2rem(line-height, 100);
	    position: relative;

	    .btn {
	    	position: absolute;
	    	.px2rem(right, 40);
	    	.px2rem(font-size, 30);
	    	top: 0;
	    	color: #f9dd6e;
	    	@pointer();
	    }
	}

	.modalWrap {
		.px2rem(padding-bottom, 20);

		.close {
			.px2rem(width, 74);
			.px2rem(height, 74);
			background: url('../../assets/modal_close.png') no-repeat;
			margin: 0 auto;
			@pointer();
			background-size: 100% 100%;
		}

		.inner {
			.px2rem(height, 926);		
		}

		.cont {
			.padding2rem(36, 45, 0, 45);
		}
	}

	.walletModal {
		
		.ethBox {
			text-align: center;
			.px2rem(height, 329);

			.icon {
				.px2rem(width, 100);
				.px2rem(height, 97);
				background: url('../../assets/index_icon4.png') no-repeat;
				background-size: 100% 100%;
				margin: 0 auto;
			}

			.num {
				color: #f9dd6e;
				.px2rem(font-size, 60);
			}

			.txt {
				color: #fff;
				.px2rem(font-size, 26);
			}
		}

		.contractInfo {
			.px2rem(font-size, 28);
			color: #fff;
			.px2rem(margin-top, 35);

			.item {
				.px2rem(margin-bottom, 12);
				.px2rem(padding-left, 12);
				display: inline-block;
				width: 50%;
			}
		}

		.desc {
			.px2rem(font-size, 28);
			color: #fff;
		}
	}

	.invitationModal {

		.topBox {
			text-align: center;
			.px2rem(height, 329);
			.px2rem(padding-top, 54);

			.icon {
				.px2rem(width, 100);
				.px2rem(height, 97);
				background: url('../../assets/index_icon8.png') no-repeat;
				background-size: 100% 100%;
				margin: 0 auto;
				.px2rem(margin-bottom, 30);
			}

			.num {
				color: #f9dd6e;
				.px2rem(font-size, 60);
			}

			.txt {
				color: #fff;
				.px2rem(font-size, 26);
			}
		}

		.desc {
			.padding2rem(35, 0, 20, 0);
			.px2rem(font-size, 28);
			color: #fff;
		}

		.copy {
			background: url('../../assets/index_icon9.png') no-repeat;
			.px2rem(width, 462);
			.px2rem(height, 163);
			background-size: 100% 100%;
			margin: 0 auto;
			@pointer();
		}
	}

	.messageModal {
		.px2rem(font-size, 30);
		color: #fff;

		.t {
			.px2rem(height, 58);
			.px2rem(line-height, 58);
		}

		.c {
			.padding2rem(15, 20, 15, 20);
			.px2rem(height, 676);
		}
	}

	.yebzModal {
		.px2rem(font-size, 30);
		color: #fff;

		.icon {
			.background(78, 72, 'warning_3.png');
			margin: 30/@baseMix auto;
		}

		.num {
			color: #f9dd6e;
			.px2rem(font-size, 60);
		}

		p {
			margin: 20/@baseMix 0;
		}
	}

	.zcqrModal {
		.yebzModal;

		.icon {
			.background(78, 72, 'warning_2.png');
			margin: 10/@baseMix auto;
		}

		.but {
			.background(462, 163, 'index_icon17.png');
			margin: 0 auto;
			@pointer();
		}

		p {
			margin: 2/@baseMix 0;
		}
	}

	.tzcgModal {
		.yebzModal;
		.icon {
			.background(136, 136, 'warning_1.png');
			margin: 30/@baseMix auto;
		}
	}
}

.walletModalBg {
		
	:global {
		.ant-modal-content {
			background: url('../../assets/modal_bg.png') no-repeat;
			background-size: 100% 100%;
		}
	}
}

.warningModalBg {
		
	:global {
		.ant-modal-content {
			background: url('../../assets/warning_bg.png') no-repeat;
			background-size: 100% 100%;
		}

		.ant-modal-body {
			.px2rem(height, 765);
			.padding2rem(24, 24, 0, 24);
		}
	}

	.modalWrap {

		.inner {
			.px2rem(height, 765);		
		}
	}
}

.wrap {
	.px2rem(width, 750);
	margin: 0 auto;
	background: url('../../assets/develop_bg.png') center top no-repeat;
	background-size: 100%;
	position: relative;

	.top {
		position: relative;
		text-align: center;
		.px2rem(height, 145);
		.px2rem(line-height, 145);
		
		.back {
			position: absolute;
			.px2rem(left, 43);
			.px2rem(top, 50);
			@pointer();
			.background(68, 50, 'sub_back.png');
		}

		.txt {
			color: #fff;
			.px2rem(font-size, 42);
		}

		.FAQ {
			position: absolute;
			.px2rem(right, 43);
			.px2rem(top, 0);
			color: #f9dd6e;
			.px2rem(font-size, 36);
		}
	}

	.level {
		text-align: center;
		.px2rem(font-size, 36);
		color: #bec2fa;
	}

	.selectInfo {
		display: flex;
		justify-content: center;
		.px2rem(margin-top, 320);

		dl {
			color: #fff;
			text-align: center;
			.padding2rem(0, 15, 0, 15);

			dt {
				.px2rem(font-size, 30);
			}

			dd {
				color: #a7a3b8;
				.px2rem(font-size, 26);
			}
		}
	}

	.selectWrap {
		display: flex;
		justify-content: center;
		position: absolute;
		.px2rem(left, 28);
		.px2rem(bottom, 300);

		.item1 {
			@pointer();
			.background(233, 536, 's_1_1.png');
		}

		.item1.on {
			.background(233, 536, 's_1_2.png');
		}

		.item1.lock {
			.background(233, 536, 's_1_3.png');
		}

		.item2 {
			@pointer();
			.background(233, 536, 's_2_1.png');
		}

		.item2.on {
			.background(233, 536, 's_2_2.png');
		}

		.item2.lock {
			.background(233, 536, 's_2_3.png');
		}

		.item3 {
			@pointer();
			.background(233, 536, 's_3_1.png');
		}

		.item3.on {
			.background(233, 536, 's_3_2.png');
		}

		.item3.lock {
			.background(233, 536, 's_3_3.png');
		}
	}

	.inputBox {
		display: flex;
		justify-content: center;
		.background(384, 68, 'develop_3.png');
		margin: 0 auto;
		color: #fff;
		.px2rem(font-size, 26);
		.px2rem(line-height, 68);
		.px2rem(margin-top, 457);
		position: relative;
    	z-index: 1;

		.input {
			.px2rem(width, 200);
			color: #fff;
			text-align:center;
			background: none;
			border: none;
			.px2rem(font-size, 36);
			.px2rem(height, 63);
			padding: 0;
		}

		.min, .max {
			@pointer();
		}
	}

	.bottom {
		.px2rem(height, 200);
		position: relative;

		.buttons {
			position: absolute;
			left: 0;
			.px2rem(bottom, 63);
			right: 0;

			.recordIcon {
				position: absolute;
				.px2rem(left, 63);
				.px2rem(top, 64);
				@pointer();
				color: #fff;
				.px2rem(font-size, 26);
				z-index: 1;

				.icon {
					.background(116, 112, 'develop_2.png');
				}

				.txt {
					position: absolute;
					.px2rem(left, 0);
					.px2rem(top, 95);
					.px2rem(right, 0);
					text-align: center;
				}
			}

			.developIcon {
				.background(462, 163, 'develop_1.png');
				margin: 0 auto;
				@pointer();
			}

			.etherIcon {
				.background(90, 87, 'index_icon4.png');
				position: absolute;
				.px2rem(left, 330);
				.px2rem(bottom, -57);
				z-index: 1;
				@pointer();
			}

			.invitationIcon {
				position: absolute;
				.px2rem(right, 63);
				.px2rem(top, 64);
				@pointer();
				color: #fff;
				.px2rem(font-size, 26);
				z-index: 1;

				.icon {
					.background(116, 112, 'index_icon3.png');
				}

				.txt {
					position: absolute;
					.px2rem(left, 0);
					.px2rem(top, 95);
					.px2rem(right, 0);
					text-align: center;
				}
			}
		}
	}
}

.gray { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    
    filter: grayscale(100%);
	
    filter: gray;

    cursor: default!important;
}